.card{
    position: relative;
}
.imgbox{
    height: 50%;
    width: 100%;
    /* background: red; */
    position: absolute;
    width: 0;
    height: 0;
    border-top: 303px solid red;
    border-right: 426px solid transparent;
}